{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 8</title>
{% endblock meta %}

{% block content %}
<h1 class="display-4 text-center mt-5 pt-5">Story-8</h1>
<div class="container pt-5">
  <input id="keyword" class="mb-5" placeholder="Masukkan kata kunci">

  <table id="result" class="table table-borderless text-center">
  
  </table>
</div>


<script type="text/javascript">
$(document).ready( function() {
    url_default = '/data?q=harry potter';
    $.ajax({
      url: url_default,
      success: function(tmp) {
        var obj_default = $('#result');
        for (i = 0; i < tmp.items.length; i++) {
          var def_title = tmp.items[i].volumeInfo.title;
          var def_author = tmp.items[i].volumeInfo.authors;
          var def_publisher = tmp.items[i].volumeInfo.publisher;
          var def_thumbnail = tmp.items[i].volumeInfo.imageLinks.smallThumbnail;
          obj_default.append('<tr> <td> ' + (i+1) + '</td> <td>' + def_title + '</td> <td>' + def_author + '</td> <td>' + def_publisher +' </td> <td> <img src=' + def_thumbnail + '> </td>');
        }
      }
    })
  })

  $("#keyword").keyup( function() {
    var content = $("#keyword").val();
    var url = '/data?q=' + content;
  
    $.ajax({
      url: url,
      success: function(result) {
        var obj_result = $("#result");
        obj_result.empty();

        for (i = 0; i < result.items.length; i++) {
          var tmp_title = result.items[i].volumeInfo.title;
          var tmp_author = result.items[i].volumeInfo.authors;
          var tmp_publisher = result.items[i].volumeInfo.publisher;
          var tmp_thumbnail = result.items[i].volumeInfo.imageLinks.smallThumbnail;
          obj_result.append('<tr> <td> ' + (i+1) + '</td> <td>' + tmp_title + '</td> <td>' + tmp_author + '</td> <td>' + tmp_publisher +' </td> <td> <img src=' + tmp_thumbnail + '> </td>');
        }
      }
    })
  })
</script>
{% endblock content %}

